html, body{
    font-family: 'Manjari',sans-serif!important;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navbar {
    font-family: 'Gugi',cursive;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute !important;
    width: 100vw;
    z-index: 0;
}

.navbar-brand{ 
    color: rgb(24, 24, 218)!important;
}
.index-section {
    background-image: url('../assets/index-background-3.jpg');
    height: 100vh;
    width: 100vw;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

.index-box{
    text-align: center;
    display: block;
    z-index: 10;
    padding-top: 100px;
}

.index-form{
    display: inline-block;  
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
}