html, body{
    font-family: 'Manjari',sans-serif!important;
    height: 100vh;
    width: 100vw;
}

.navbar {
    font-family: 'Gugi',cursive;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    z-index: 10;
    position: sticky;
}

.navbar-brand{
    color: rgb(24, 24, 218)!important;
}
.index-section {
    background-color: #ddd;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.index-box{
    text-align: center;
    display: block;
    z-index: 15;
    padding-top: 200px;
    color: #000000;
}

.index-form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    z-index: 20;
}

.profile-box {
    text-align: center;
    display: block;
    z-index: 15;
    padding-top: 100px;
    color: #000000;
    background-size: cover;
}

.login-error-text {
    color: white;
    font-size: 30px;
}

.signup-form {
    display: inline-table;
    width: 300px;
    z-index: 20;
}

.signup-box {
    text-align: center;
    display: block;
    z-index: 15;
    padding-top: 100px;
}

.form-group {
    z-index: 25;
}

.car-search-background {
    background-color: rgb(54, 181, 219);
}

.column-2 {
  background-color: #eee;
}


.car-search-container {
    width: 900;
    background-color: #fff;
    padding: 30px;
}

.car-search-box {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
}

.input-group-search {
  margin-right: 15px;
    width: 100%;
}

.car-search-input {
  border-color: green;
  border-width: 1px;
  vertical-align: middle;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.car-search-input:hover {
  background-color: rgb(203, 232, 237);
}

.car-search-button {
  border-style: solid;
  border-color: green;
  border-width: 1px;
  vertical-align: middle;
  width: auto;
}

.car-search-button:hover {
  background-color: rgb(54, 164, 161);
}

.car-favourite-button {
  border-style: solid;
  border-color: green;
  border-width: 1px;
  vertical-align: middle;
}

.btn-update {
  border-style: solid;
  border-color: blue;
  border-width: 1px;
}

.btn-update:hover {
  background-color: #59f7ab;
}

.car-favourite-button:hover {
  background: rgb(55, 157, 232);
}

.btn {
  vertical-align: middle!important;
}

.img-hover-test {
  transition: all 2s;
}

.recent-box {
  text-align: center;
  display: block;
  width: 100%;
}

.container {
  width: 80vw!important;
}

.badge {
  font-size: 20px;
}

.hidden {
    display: none;
}

.sticky-group {
  position: sticky;
  -webkit-position: sticky;
  top: 10px;
}


@media all and (max-width: 990px) {
    .navbar-brand {
        display: none;
    }
}
