#Rewrite everything to https
#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#Remove file types from url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
#force all links to use https
#<ifModule mod_headers.c>
#Header always set Content-Security-Policy "upgrade-insecure-requests;"
#</IfModule>
